body {
    background-color: black;
}

.submit {
    color:black
}

.input-artist {
    color:black;
}

* {
    color:white;
}

#center-line {
    border-left :6px solid green;
    height:100vh;
    position:absolute;
    left:50%;
    margin-left: -3px;
    top:250px;
}

